.card {
    margin: 0.5mm;
    border-style: solid;
    border-width: 0.8mm;
    border-color: black;
    border-radius: 6mm;
    width: 63mm;
    height: 88mm;
    background-image: url(../borders/card-border.png);
}

.name {
    position: relative; 
    top: 8mm;
    width: 40mm;
    font-family: 'Berkshire Swash', cursive;
    font-weight: bold;
    font-size: 16pt;
    text-align: center;
    white-space: nowrap;
}

.second-row-wrapper{
    display: flex;
}

.avatar-wrapper {
    position: relative; 
    top: 9mm;
    left: 10mm;
    width: 31.5mm;
    height: 27mm;
    background-color: rgb(10, 136, 37);
    background-image: url(../borders/avatar-border.png);
}

.rank {
    position: relative; 
    width: 12mm;
    height: 12mm;
    left: 18mm;
}

.avatar {
    position: relative; 
    width: 25mm;
    height: 25mm;
    bottom: 12mm;
    right: 2mm;
}

.faction {
    position: relative; 
    width: 8mm;
    height: 8mm;
    left: 20mm;
    bottom: 29mm;
}

.power {
    position: relative; 
    width: 8mm;
    height: 8mm;
    left: 11mm;
    bottom: 22mm;
}

.attributes {
    position: relative; 
    top: 5mm;
    left: 13mm;
    width: 13mm;
}

.attributes-iconcell {
    font-size: 0.6em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.attributes-icon {
    width: 10mm;
    height: 10mm;
}

.abi-wrapper {
    position: relative; 
    top: 6mm;
    left: 2.5mm;
    width: 58mm;
    height: 33mm;
    background-image: url(../borders/abi-border.png);
}

.abilitys-heading {
    position: relative; 
    top: 2.5mm;
    left: 5mm;
    width: 47mm;
    font-family: 'Berkshire Swash', cursive;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
}

.abi-icon {
    width: 4mm;
    height: 4mm;
    vertical-align: middle;
}

.abilitys-text {
    position: relative; 
    top: 2mm;
    left: 6mm;
    width: 47mm;
    font-family: 'Open Sans', serif;
    font-style: italic;
    font-size: 0.6em;
    line-height: 1.4;
    text-align: center;
}

.footer-row {
    position: relative; 
    top: 5mm;
    left: 8mm;
    width: 47mm;
    display: flex;
    justify-content: space-between
}
.upgrade-cost-iconcell {
    font-size: 1em;
}

.upgrade-icon {
    position: relative;
    bottom: 5mm;
    right: 2mm;
    width: 5mm;
    height: 5mm;
}

.upgrade-cost-icon {
    width: 10mm;
    height: 10mm;
    margin-left: -2mm;
}

.power-iconcell {
    font-size: 1em;
}

.power-icon {
    width: 10mm;
    height: 10mm;
    margin-left: -2mm;
}

.cost-iconcell {
    font-size: 1em;
}

.cost-icon {
    width: 10mm;
    height: 10mm;
    margin-left: -2mm;
}