.card {
    margin: 0.5mm;
    border-style: solid;
    border-width: 0.8mm;
    border-color: black;
    border-radius: 6mm;
    width: 63mm;
    height: 88mm;
    background-image: url(../borders/card-border.png);
}

.name {
    position: relative; 
    top: 3mm;
    left: 12mm;
    width: 40mm;
    font-family: 'Berkshire Swash', cursive;
    font-weight: bold;
    font-size: 16pt;
    text-align: center;
    white-space: nowrap;
}

.second-row-wrapper{
    display: flex;
}

.offense {
    position: relative; 
    top: 5mm;
    left: 3mm;
    border: solid black;
    border-radius: 2mm;
    width: 13mm;
    height: 28mm;
}

.att-iconcell {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.att-icon {
    width: 10mm;
    height: 10mm;
}

.avatar-wrapper {
    position: relative; 
    top: 5mm;
    left: 4mm;
    width: 26mm;
    height: 26mm;
    background-color: grey;
    background-image: url(../borders/avatar-border.png);
}

.rank {
    position: relative; 
    width: 12mm;
    height: 12mm;
    top:1mm;
    left: 15mm;
}

.avatar {
    position: relative; 
    width: 20mm;
    height: 20mm;
    bottom: 10mm;
}

.upgrade-from {
    position: relative; 
    width: 12mm;
    height: 12mm;
    left: 15mm;
    bottom: 25mm;
}

.defense {
    position: relative; 
    top: 5mm;
    left: 5mm;
    border: solid black;
    border-radius: 2mm;
    width: 13mm;
}

.def-iconcell {
    font-size: 0.6em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.def-icon {
    width: 10mm;
    height: 10mm;
}

.abi-wrapper {
    position: relative; 
    top: 6mm;
    left: 2.5mm;
    width: 58mm;
    height: 33mm;
    background-image: url(../borders/abi-border.png);
}

.abilitys-row{
    display: flex;
}

.abi-iconcell {
    position: relative; 
    top: 5mm;
    left: 5mm;
    font-size: 1em;
    font-weight: bold;
    text-align: start;
}

.abi-icon {
    width: 12mm;
    height: 12mm;
    vertical-align: middle;
}

.footer-row {
    position: relative; 
    top: 5mm;
    right: 8mm;
}
.footer-iconcell {
    font-size: 1em;
    font-weight: bold;
    text-align: end;
}

.footer-icon {
    width: 10mm;
    height: 10mm;
    vertical-align: middle;
    margin-left: -2mm;
}