.card {
    margin: 0.5mm;
    border-style: solid;
    border-width: 0.8mm;
    border-color: black;
    border-radius: 6mm;
    width: 63mm;
    height: 88mm;
    background-color: rgb(190, 107, 47)
}

.avatar-wrapper {
    display: flex;
    margin-top: 2mm;
    margin-left: 2mm;
    width: 58mm;
}

.rank {
    width: 9mm;
    height: 7mm;
}

.avatar {
    position: relative; 
    right: 8mm;
    float: left;
    margin: 1.1mm;
    padding: -5mm;
    width: 20mm;
    height: 20mm;
}

.name {
    position: relative; 
    right: 12mm;
    font-family: 'Berkshire Swash', cursive;
    font-weight: bold;
    font-size: 16pt;
    white-space: nowrap;
}

.upgrade-wrapper {
    width: 58mm;
    height: 0;

}

.upgrade-from {
    margin-top: 2mm;
    margin-left: 2mm;
    width: 15mm;
    height: 15mm;
    position: relative; 
    left: 12mm;
    bottom: 15mm;
}

.upgrade-icon {
    margin-top: 2mm;
    margin-left: 2mm;
    width: 6mm;
    height: 6mm;
    position: relative; 
    left: 30mm;
    bottom: 24mm;
}

.upgrade-text {
    position: relative; 
    left: 22mm;
    bottom: 14mm;
    width: 15mm;
    font-family: 'Berkshire Swash', cursive;
}

.upgrade-from-text {
    position: relative; 
    left: 22mm;
    bottom: 14mm;
    width: 15mm;
    font-family: 'Berkshire Swash', cursive;
    font-size: 0.6em;
    font-weight: lighter;
}


.icon {
    width: 7mm;
    height: 7mm;
    vertical-align: text-bottom;
    margin: 1mm;
}

.iconcell {
    padding: 0.5mm;
    margin-right: 1mm;
}

.text {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    margin: 1mm 0mm 1mm 2mm;
    padding: 2mm;
    background-color: rgb(133, 70, 25);
    border: solid black;
    border-radius: 2mm;
    position: relative;
    height: 32.5mm;
    width: 32mm;
}

.text_quotation {
    font-family: 'Berkshire Swash', cursive;
    font-size: 0.6em;
}

.carac {
    position: relative;
    top: -15mm;
    float: right;
    margin: 1mm 2mm 1mm 0mm;
    font-family: "Arial";
    font-weight: bold;
    font-size: 16pt;
    border: solid black;
    border-radius: 2mm;
    background-color: rgb(114, 114, 114);
    width: 18mm;
}

.abilitys {
   display: flex;
   justify-content: center;
   float: left;
   background-color: rgb(133, 70, 25);
   border: solid black ;
   border-radius: 2mm;
   height: 16mm;
   width: 54mm;
   overflow:hidden;
   margin: 1mm 2mm 2mm 2mm;
   padding: 1mm;
   position: relative;
   bottom: 15mm;
}

.abi-iconcell {
    padding: 0.5mm;
    margin-right: 1mm;
    font-size: 0.6em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.abi-icon {
    width: 7mm;
    height: 7mm;
    vertical-align: text-bottom;
    margin: 0 1mm;
}