
/* token "card" */
.card {
    margin: 0.5mm;
    border-style: solid;
    border-width: 0.5mm;
    border-color: #000000;
    border-radius: 30mm;
    width: 30mm;
    height: 30mm;
}

.power-iconcell {
    height: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.power-icon {
    width: 12mm;
    height: 12mm;
}

.faction-iconcell {
    position: relative; 
    bottom: 25mm;
    left: 20mm;
}
.faction-icon {
    width: 8mm;
    height: 8mm;
}

.reward-iconcell {
    position: relative; 
    bottom: 18mm;
    left: 12mm;
}
.reward-icon {
    width: 6mm;
    height: 6mm;
}
