
/* mini card */
.card {
    margin: 0.5mm;
    border-style: solid;
    border-width: 0.8mm;
    border-color: black;
    border-radius: 6mm;
    width: 45mm;
    height: 64mm;
    background-image: url(../borders/mini-card-border.png);
}

.mini-card-name {
    position: relative; 
    top: 3mm;
    font-family: 'Berkshire Swash', cursive;
    font-weight: bold;
    font-size: 16pt;
    text-align: center;
    white-space: nowrap;
}


.precondition {
    position: relative; 
    top: 3mm;
    font-family: 'Berkshire Swash', cursive;

    font-size: 12pt;
    text-align: center;
    white-space: nowrap;
}

.abi-wrapper {
    position: relative; 
    top: 3mm;
    left: 2.5mm;
    width: 38mm;
    height: 33mm;
    background-image: url(../borders/mini-abi-border.png);
}

.abilitys-heading {
    position: relative; 
    top: 5mm;
    left: 5mm;
    width: 25mm;
    font-family: 'Berkshire Swash', cursive;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
}

.abi-icon {
    width: 4mm;
    height: 4mm;
    vertical-align: middle;
}

.abilitys-text {
    position: relative; 
    top: 5mm;
    left: 1mm;
    width: 35mm;
    font-family: 'Open Sans', serif;
    font-style: italic;
    font-size: 0.6em;
    line-height: 1.4;
    text-align: center;
}

.footer-row {
    position: relative;
    top: 3mm;
    display: flex;
    justify-content: space-between;
}

.condition-block {
    font-size: 1em;
    font-weight: bold;
}

.precondition-label{
    position: relative; 
    bottom: 5mm;
    left: 5mm;
    font-family: 'Berkshire Swash', cursive;
    font-weight: bold;
    font-size: 8pt;
    text-align: center;
    white-space: nowrap;
}

.hero-icon {
    position: relative; 
    bottom: 5mm;
    left: 5mm;
    vertical-align: middle;
    margin-left: -2mm;
}

.cost-iconcell {
    text-align: end;

}

.cost-icon {
    position: relative; 
    right: 5mm;
    width: 10mm;
    height: 10mm;
}