.card {
    margin: 0.5mm;
    border-style: solid;
    border-width: 0.8mm;
    border-color: black;
    border-radius: 6mm;
    width: 63mm;
    height: 88mm;
    background-image: url(../borders/card-border.png);
}

.faction-iconcell {
    height: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faction-icon {
    width: 40mm;
    height: 40mm;
}
.power-iconcell {
    position: relative; 
    bottom: 25mm;
    left: 40mm;
}
.power-icon {
    width: 20mm;
    height: 20mm;
}